/* --------------------------- */

/* Header */

/* Hero */

/* Benefits */

/* Work */

/* Team */

/* Customers */

/* Footer */

/* Modal */

.body-fixed {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 500ms ease, opacity 500ms ease, visibility 500ms ease;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--bg-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-primary);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: var(--animation);
}
.modal-close-icon {
  fill: var(--third-text-color);
  transition: var(--animation);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--brand-color);
}

.modal-caption {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}
.modal-list {
  display: flex;
  flex-direction: column;
}
.modal-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-comment {
  margin-bottom: 20px;
}

.modal-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primay-text-color);
}
.modal-item input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  display: block;
  height: 40px;
  padding-left: 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-item input:focus {
  border-color: var(--brand-color);
}

.modal-item-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-color);
}
.modal-item input:focus + .modal-item-icon {
  fill: var(--brand-color);
}

.modal-item textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-item textarea:focus {
  border-color: var(--brand-color);
}
.modal-item textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primay-text-color);
}
.policy-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.modal-policy input:checked + .policy-icon {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-link {
  color: var(--brand-color);
}
.modal-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ========================================= */

/* portfolio.html */

.portfolio-button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  margin-bottom: 50px;
}
.portfolio-button-items {
  margin-right: 8px;
}
.portfolio-button-items:last-child {
  margin-right: 0;
}
.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--bg-color-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: color var(--time) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--time) cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--time) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--second-text-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-list-items {
  margin-bottom: 30px;
  margin-right: 30px;
}
.projects-list-items:nth-child(3n) {
  margin-right: 0;
}
.projects-list-items:nth-child(n + 7) {
  margin-bottom: 0;
}
.projects-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--animation);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list img {
  display: block;
}
.projects-img {
  position: relative;
  overflow: hidden;
}

.projects-info {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation);
}
.projects-link:hover .projects-info,
.projects-link:focus .projects-info {
  transform: translateY(0);
}

.projects-description {
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.project-text {
  color: var(--primay-text-color);
  font-size: 16px;
  line-height: 1.88;
}
