.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--second-text-color);
  background-color: var(--brand-color);
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--animation);
}
.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

.main-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}
